{{#each this}}
<li class="event-card" id={{this.id}}>
    <img class="event-image" loading="lazy" srcset="

        {{this.images.9.url}} 180w,
        {{this.images.8.url}} 180w,
        {{this.images.7.url}} 128w,
        {{this.images.6.url}} 128w
      " src={{this.images.6.url}} alt="{{name}}" />
    {{!-- {{#if this.images.width:680}}
    "src={{this.url}} alt="{{name}}"/>
    {{/if}} --}}
    <h3 class="event-title">{{name}}</h3>
    <p class="event-date">{{dates.start.localDate}}</p>
    <p class="event-place">
        <a href="https://maps.google.com?saddr=Current+Location&daddr={{_embedded.venues.0.location.latitude}},{{_embedded.venues.0.location.longitude}}"
            target="_blank">
            <span class="material-icons md-12 cards-icons">room</span>
            {{_embedded.venues.0.name}}
        </a>
    </p>
</li>
{{/each}}