<button class='back-btn'>
  <span class='material-icons'>
    arrow_back
  </span>
  Back
</button>
{{#each this}}
  <li class='event-card' id={{id}}>

    <img
      class='event-image lazyload'
      loading='lazy'
      srcset='

        {{images1x128}} 128w,
        {{images2x128}} 128w,
        {{images1x180}} 180w,
        {{images2x180}} 180w

      '
      data-src={{images1x180}}
      alt='{{name}}'
    />

    <h3 class='event-title'>{{name}}</h3>
    <p class='event-date'>{{dates}}</p>
    <p class='event-place'>
      {{#if locationLatitude}}
        <a
          href='https://maps.google.com?saddr=Current+Location&daddr={{locationLatitude}},{{locationLongitude}}'
          target='_blank'
        >
          <span class='material-icons md-12 cards-icons'>room</span>
          {{#if venuesName}}
            {{venuesName}},
          {{/if}}
          {{#if city}}
            {{city}}
          {{else}}
            Online
          {{/if}}
        </a>
      {{else}}
        <a
          href='hhttps://www.google.com/maps/dir/?api=1&{{city}}'
          target='_blank'
        >
          <span class='material-icons md-12 cards-icons'>room</span>
          {{#if venuesName}}
            {{venuesName}},
          {{/if}}
          {{#if city}}
            {{city}}
          {{else}}
            Online
          {{/if}}
        </a>
      {{/if}}
    </p>
    <span class='material-icons delete-fav'>delete_outline</span>
  </li>

{{/each}}